
<div class="container" [formGroup]="group">
  <div class="row centered-form">
    <div class="col-12">
      <div class="panel panel-default">
        <div class="panel-heading ">
          <h5 class="panel-title">{{titulo}}</h5>
        </div>
        <div class="panel-body">
          <div class="form-group" (keyup)="searchKnowlegment($event)">
            <select id="select-name" placeholder="Selecciona conocimientos" multiple></select>
          </div>
          <input id="knowledges" formControlName="knowledges" type="text" name="name" value="asdasd" [hidden]="true" />
          <input id="explanation" formControlName="explanation" type="text" name="name" value="asdasd" [hidden]="true" />
          <input id="guidId" formControlName="guidId" type="text" name="name" value="asdasd" [hidden]="true" />
        </div>
      </div>
    </div>
  </div>
</div>
