<div class="container" [formGroup]="group">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact list demo</h3>
        </div>
        <div class="panel-body">
          <div class="form-group" (keyup)="searchKnowlegment($event)">
            <select id="select-name" placeholder="Select a person..." multiple>            
            </select>
          </div>
          <input id="knowledges" formControlName="knowledges" type="text" name="name" value="asdasd" [hidden]="true" />
          <input id="explanation" formControlName="explanation" type="text" name="name" value="asdasd" [hidden]="true" />
          <input id="guidId" formControlName="guidId" type="text" name="name" value="asdasd" [hidden]="true" />
        </div>
      </div>
    </div>
  </div>
</div>
