<nav class="mb-5">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class=" text-dark nav-item nav-link active" id="nav-jobs-tab" data-toggle="tab" href="#jobs" role="tab" aria-controls="nav-job" aria-selected="true">Mis trabajos</a>
    <a class=" text-dark nav-item nav-link" id="nav-newJob-tab" data-toggle="tab" href="#newJob" role="tab" aria-controls="nav-newJob" aria-selected="false">Nuevo trabajo</a>
    <a class=" text-dark nav-item nav-link" id="nav-options-tab" data-toggle="tab" href="#options" role="tab" aria-controls="nav-options" aria-selected="false">Opciones</a>
  </div>
</nav>

<div class="form-group row justify-content-center ">
  <div class="loginForm border bg-white col col-lg-6 col-md-6 col-10 ">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="jobs" role="tabpanel" aria-labelledby="nav-jobs-tab">
        <div *ngFor="let item of jobs | paginate: config">
          <app-card-job [job]="item" > </app-card-job>
        </div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
      <div class="tab-pane " id="options" role="tabpanel" aria-labelledby="nav-options-tab">
        <p>asdasd</p>
      </div>
      <div class="tab-pane fade" id="newJob" role="tabpanel" aria-labelledby="nav-newJob-tab">
        <div class="row form-group  justify-content-center">
          <div class="col col-9 text-center">
            <div class="panel-heading mt-5 mb-2 ">
              <h3 class="panel-title">Tu oferta de trabajo</h3>
            </div>
          </div>
        </div>
        <form [formGroup]="jobForm" (submit)="submit()">
          <div class="form-group row justify-content-center">
            <div class="col col-10">
              <label for="exampleInputEmail1">Título</label>
              <input formControlName="tittle" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Un titulo">
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col col-10">
              <label for="exampleFormControlTextarea1">Descripción del trabajo</label>
              <textarea formControlName="jobDescription" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col col-10">
              <div class="custom-file">
                <input type="file" class=" " id="files" multiple (change)="detectFiles($event)" accept="image/x-png,image/jpeg">
                <label class="custom-file-label" for="files">Choose file</label>
                <small *ngIf="this.helpTextImg" id="passwordHelpBlock" class="form-text text-danger">
                  El máximo nº de imágenes son 3
                </small>
              </div>
            </div>
          </div>
          <!--<div class="images-preview mt-2" *ngIf="jobImages.length">
        <div formArrayName="jobImages" *ngFor="let jobImg of jobImages.controls; let i = index;">
          <div [formGroupName]="i">
            <img [src]="jobImg.value.Img" class="card-img-top" alt="Image Preview">
          </div>
        </div>
      </div>-->
          <div class="form-group row justify-content-center mb-5">
            <div class="col col-10">
              <div *ngIf="jobImages.length" id="carouselExampleIndicators" class="carousel slide mt-3" data-ride="carousel">
                <!--<ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>-->
                <div class="carousel-inner">
                  <div class="carousel-item active" *ngIf="jobImages.controls.length>0">
                    <img formArrayName="jobImages" class="d-block w-100" [src]="jobImages.controls[0].value.Img">
                  </div>

                  <div class="carousel-item" *ngIf="jobImages.controls.length>1">
                    <img formArrayName="jobImages" class="d-block w-100" [src]="jobImages.controls[1].value.Img">
                  </div>

                  <div class="carousel-item" *ngIf="jobImages.controls.length>2">
                    <img formArrayName="jobImages" class="d-block w-100" [src]="jobImages.controls[2].value.Img">
                  </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-center mb-5 p-0">
            <div class="col col-10 p-0">
              <app-knowledges [group]="jobForm" [titulo]="'¿Qué necesitas?'"></app-knowledges>
            </div>
          </div>
          <div class="row form-group  justify-content-center">
            <button type="submit" class="mt-3 btn btn-outline-dark">Crear trabajo</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

